 <% include  partials/header %>
	 

	 
	<h3>Sample Application</h3>
        
        
        <section class="column50Left">
         <table class="table table-striped">
         <tr><th>User Name:</th><td><%= user.name %></td></tr>
         <tr><th>User Id:</th><td><%= user.id %></td></tr>
         </table>
        

        </section>
 

    
    

 <% include  partials/footer %>