 <% include  partials/header %>
	 

	 
	<h3>Sample Application</h3>
        
        
        <section class="column50Left">
         <table class="table table-striped">
         <tr><th>User Name:</th><td><%= user.name %> </td>     <% if (locals.user.image) { %>
        <td rowspan="2" align="center"><img src="<%= locals.user.image %>"></td>
 
        <% } %>  </tr>
         <tr><th>User Id:</th><td><%= user.id %></td></tr>
         </table>
        </section>
        
    <section class="column50Right">

        <button class="btn btn-primary" onClick="doCalendar()">Calendar</button>

    </section
    

 <% include  partials/footer %>