 <% include  partials/header %>
	<script> </script> 
 
	 
	<h3>Popup Demo</h3>
        
        
        <section class="column50Left">
         <a href="">Login popup</a>
        </section>
    <section class="column50Right">
          right side
    </section>

 <% include  partials/footer %>